<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
  <title> Add book </title>
  <link rel="stylesheet" th:href="@{/styles/style.css}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light" style="background-color: darkseagreen">
  <a class="navbar-brand col-8" href="/" style="margin-left:5%">
    <img src="https://oprezi.ru/fl/image.raw?view=image&type=img&id=276" width="30" height="30" class="d-inline-block align-top" alt="">
    Book Circulation
  </a>
  <div class="collapse navbar-collapse" id="navbarCommands" >
    <div class="navbar-nav">
      <a  class="nav-item nav-link" th:href="@{/books}"> Books </a>
      <div class="w3-dropdown-hover">
        <a  class="w3-button"> My profile </a>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a th:href="@{/myprofile}" class="w3-bar-item w3-button"> Edit </a>
          <form th:action="@{/logout}" method="post">
            <input type="submit" class="w3-bar-item w3-button" value="Sign Out"/>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="text-center p-3">
    <h2>Add new book</h2>
</div>

<div class="container">
    <form th:action="@{/add_book}" th:object="${newBook}" method="POST" enctype="multipart/form-data" style="max-width: 700px; margin: 0 auto;">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" th:field="*{id}" th:value="${newBook.id}"/>
        <div class="form-group row" style="margin: 0 0 20px;">
            <label class="col-form-label col-sm-4"> Name of book * </label>
            <div class="col-sm-8">
                <input required name='name' type='text' placeholder="Books name" th:field="*{name}" class="w3-input w3-border w3-margin-bottom">
            </div>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
        </div>
        <div class="form-group row" style="margin: 0 0 20px;">
            <label class="col-form-label col-sm-4"> Author * </label>
            <div class="col-sm-8">
                <input required name='author' type='text' placeholder="Author" th:field="*{author}" class="w3-input w3-border w3-margin-bottom">
            </div>
            <div th:if="${#fields.hasErrors('author')}" th:errors="*{name}">Name error</div>
        </div>
        <div class="form-group row" style="margin: 0 0 20px;">
            <label  class="col-form-label col-sm-4"> Description  </label>
            <div class="col-sm-8">
                <input name='description' th:maxlength="240" type='text' placeholder="Description" th:field="*{description}" class="w3-input w3-border">
            </div>
            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name error</div>
        </div>
        <div class="form-group row" style="margin: 0 0 20px;">
            <label class="col-form-label col-sm-4"> Condition * (1-10)</label>
            <div class="col-sm-8">
                <input required name='condition' th:field="*{condition}" th:min="1" th:max="10" placeholder="From 1 to 10" type='number' class="w3-input w3-border">
            </div>
            <div th:if="${#fields.hasErrors('condition')}" th:errors="*{condition}">Name error</div>
        </div>
        <div class="form-group row" style="margin: 0 0 20px;">
            <label class="col-form-label col-sm-4">Date of return (if you don't want to exchange forever)</label>
                <div class="col-sm-8">
                    <input name='returnDate'  id='returnDate' type='date' th:field="*{returnDate}" class="w3-input w3-border">
                    <script type="text/javascript" th:src="@{/js/dateLimit.js}"> </script>
                </div>
        </div>
        <div class="form-group row" style="margin: 0 0 20px;">
        <label class="col-form-label col-sm-4">Photo: </label>
            <div class="col-sm-8">
                <input type="file" name="image" accept="image/png, image/jpeg" />
            </div>
        </div>
            <input type="submit" value="Save" class="w3-button w3-block w3-teal w3-section w3-padding">
    </form>
</div>
</div>
</body>
</html>