<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title> Change password </title>
  <link rel="stylesheet" th:href="@{/styles/style.css}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<style>
</style>
<body>
<nav th:replace="books.html :: nav"></nav>
<div th:replace="books.html :: menu"> </div>
<br><br><br>
<div class="text-center p-3">
  <h1>Change Password</h1>
</div>
<div class="container">
  <form th:action="@{/change_password}" method="post"
        style="max-width: 500px; margin: 0 auto;">
    <div class="form-group row" style="margin: 0 0 20px;">
      <label class="col-form-label col-sm-4">New password</label>
      <div class="col-sm-8">
        <input type="password" th:name="newPass1" class="form-control">
      </div>
    </div>
    <div class="form-group row" style="margin: 0 0 20px;">
      <label class="col-form-label col-sm-4">Confirm the password</label>
      <div class="col-sm-8">
        <input type="password" th:name="newPass2" class="form-control">
      </div>
    </div>
    <p><span th:utext="${message.toString()}"> </span>  </p>

    <div style="display:flex;justify-content:center;align-items:center;">
      <button type="submit" class="w3-button" style="background-color: darkseagreen; border: none; width: 100px">Save</button>
    </div>
  </form>
</div>


</body>
</html>