<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title> Chat </title>
    <link rel="stylesheet" th:href="@{/styles/chat.css}">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body>
<noscript>
    <h2> Sorry! Your browser doesn't support Javascript </h2>
</noscript>
<nav th:replace="books.html :: nav"></nav>
<div th:replace="books.html :: menu"> </div>
<br><br><br>
<input readonly type="text" id="deal" th:value="${deal.getId()}"  class="form-control" hidden/>
<input readonly type="text" id="email" th:value="${userEmail}"  class="form-control" hidden/>
<input readonly type="text" id="name" th:value="${name}" class="form-control" hidden/>
<input type="text" id="room-id" th:value="${chatId}" class="form-control" hidden />


<div id="chat-page">
    <div class="chat-container">
        <div class="chat-header">
            <h2> Chatroom [<span id="room-id-display"></span>]</h2>
        </div>
        <div class="connecting">
            Connecting...
        </div>

        <ul id="messageArea">
            <div th:each="message : ${messages}">
                <script th:inline="javascript">
                    loadMessages([[${message.getContent()}]], [[${message.getSenderName()}]])

                    function getAvatarColor(messageSender) {
                        var colors = [
                            '#D2691E', '#556B2F', '#00BCD4', '#8FBC8F',
                            '#F08080', '#F0E68C', '#FF9800', '#20B2AA'
                        ];
                        var hash = 0;
                        for (var i = 0; i < messageSender.length; i++) {
                             hash = 5 * hash + messageSender.charCodeAt(i);
                         }

                         var index = Math.abs(hash % colors.length);
                         return colors[index];
                    }

                    function loadMessages(content, senderName) {
                        if (content === null)
                            return;
                        var messageElement = document.createElement('li');

                        messageElement.classList.add('chat-message');

                        var avatarElement = document.createElement('i');
                        var avatarText = document.createTextNode(senderName[0]);
                        avatarElement.appendChild(avatarText);
                        avatarElement.style['background-color'] = getAvatarColor(senderName);

                        messageElement.appendChild(avatarElement);

                        var usernameElement = document.createElement('span');
                        var usernameText = document.createTextNode(senderName);
                        usernameElement.appendChild(usernameText);
                        messageElement.appendChild(usernameElement);

                        var textElement = document.createElement('p');
                        var messageText = document.createTextNode(content);
                        textElement.appendChild(messageText);

                        messageElement.appendChild(textElement);

                        var messageArea = document.getElementById('messageArea');
                        messageArea.appendChild(messageElement);
                        messageArea.scrollTop = messageArea.scrollHeight;
                    }
                </script>
            </div>
        </ul>

        <form id="messageForm" name="messageForm" nameForm="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Type a message..."
                           autocomplete="off" class="form-control"/>
                    <button type="submit" class="primary">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/chat.js}">
</script>
</body>
</html>