<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title> Edit book </title>
  <link rel="stylesheet" th:href="@{/styles/style.css}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav th:replace="books.html :: nav"></nav>
<br><br><br>

<div class="text-center p-3">
  <h2>Edit book</h2>
</div>

<div class="container">
  <form th:action="@{/books/edit/{id}(id=${book.getId()})}" th:object="${book}" method="POST" enctype="multipart/form-data" style="max-width: 700px; margin: 0 auto;">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="hidden" th:field="*{id}" th:value="${book.id}"/>
    <input type="hidden" th:field="*{photo}" th:value="${book.photo}"/>
    <input required name='available' th:field="*{available}" th:value="${book.available}" type='hidden' class="w3-input w3-border">
    <input required name='condition' th:field="*{condition}" th:value="${book.condition}" th:min="1" th:max="10" type='hidden' class="w3-input w3-border">
    <div class="form-group row" style="margin: 0 0 20px;">
      <label class="col-form-label col-sm-4">Name: </label>
      <div class="col-sm-8">
        <input required name='name' type='text' placeholder="Books name" th:field="*{name}" th:value="${book.name}" class="w3-input w3-border w3-margin-bottom">
      </div>
      <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    </div>

    <div class="form-group row" style="margin: 0 0 20px;">
      <label class="col-form-label col-sm-4">Author: </label>
      <div class="col-sm-8">
        <input required name='author' type='text' placeholder="author" th:field="*{author}" th:value="${book.author}" class="w3-input w3-border w3-margin-bottom">
      </div>
      <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Name error</div>
    </div>

    <div class="form-group row" style="margin: 0 0 20px;">
      <label class="col-form-label col-sm-4">Description: </label>
      <div class="col-sm-8">
        <textarea rows="10" name='description' placeholder="Description" th:maxlength="240" th:field="*{description}" th:value="${book.description}" class="w3-input w3-border">
        </textarea>
      </div>
      <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name error</div>
    </div>
    <div class="form-group row" style="margin: 0 0 20px;">
      <label class="col-form-label col-sm-4">Date of return (if you don't want to exchange forever)</label>
      <div class="col-sm-8">
        <input name='returnDate' id='returnDate' th:value="${book.getReturnDate()}"  type='date' th:field="*{returnDate}" class="w3-input w3-border">

        <script type="text/javascript" th:src="@{/js/dateLimit.js}"> </script>

      </div>
      <div th:if="${#fields.hasErrors('returnDate')}" th:errors="*{returnDate}">Name error</div>
    </div>
    <div class="form-group row" style="margin: 0 0 20px;">
      <label class="col-form-label col-sm-4">Photo: </label>
      <div class="col-sm-8">
        <input type="file" name="image" accept="image/png, image/jpeg" />
      </div>
    </div>
    <input type="submit" value="Save" class="w3-button w3-block w3-teal w3-section w3-padding">
  </form>
</div>
</div>



</body>
</html>