<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8" />
    <title> Main Page </title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<nav th:fragment="nav1" id="nav" class="navbar navbar-expand-lg navbar-light" style="background-color: darkseagreen">
        <a style="margin-left:5%" class="navbar-brand col-8" href="/">
            <img src="https://oprezi.ru/fl/image.raw?view=image&type=img&id=276" width="30" height="30" class="d-inline-block align-top" alt="">
            Book Circulation
        </a>

        <div sec:authorize="isAnonymous()" class="collapse navbar-collapse" id="navbarCommands" >
            <div class="navbar-nav">
                <a class="nav-item nav-link active" aria-current="page" href="/"> Home </a>
                <a  class="nav-item nav-link" th:href="@{/login}">Sign in</a>
                <a  class="nav-item nav-link" th:href="@{/sign_up}">Sign up </a>
            </div>
        </div>

    <div sec:authorize="isAuthenticated()" class="collapse navbar-collapse" >
        <div class="navbar-nav">
            <a  class="nav-item nav-link" th:href="@{/books}"> <b> Books </b> </a>
        </div>
    </div>

</nav>

    <div class="w3-container" id="about" style="text-align: justify">
        <h5 class="w3-center w3-padding-64"><span class="w3-wide" style="font-size: x-large">Welcome to Book Circulation</span></h5>


        <div class="w3-content" style="max-width:700px">
            <div class="w3-panel w3-pale-green w3-center">
                <p style="font-size: large"> What is it? </p>
            </div>
    <p> <b> Book Circulation </b> is a book exchange platform for people from different parts of the world.
        For example, you have some books that have been read for a long time, but you don't know where to give them. </p>
            <p>
        Using Book Circulation, you may exchange for another user's book for a while or forever!
    </p>
    </div>

    <br>
        <div class="w3-content" style="max-width:700px">
            <div class="w3-panel w3-pale-green w3-center">
                <p style="font-size: large"> How to use? </p>
            </div>
            <p> The mechanism of operation is simple:
                <ul>
            <li> Upload the books that you are ready to exchange to your profile</li>
            <li> Using search and filters, find the book you are interested </li>
            <li> Send your exchange request to another user </li>
            <li> Wait for an answer, another user needs to select one of your books </li>
            <li> Agree or disagree to the terms of the deal </li>
        </ul>
            <br>
            <p> By the way, if you fail to return the book on time, you may send to another participant renewal request and prolong deadline.
            </p>
            <p> After closing the deal you may leave a review on your exchange participant. </p>
            <br>
            <div class="w3-center w3-container">
                <p>
                    That's all!
                </p>
                <p> We wish you successful exchanges and good books. So...</p>
                <p style="font-size: x-large"> Join us and let's exchange books! </p>
                <form id = "toLogUp" th:action = "@{/sign_up}"  method="get">
                    <button class="w3-btn w3-block w3-padding-large" style="background: darkseagreen;"> Log up </button>
                </form>
            </div>
        </div>

     <br>
        <div class="w3-panel w3-pale-green">
            <p> Authors: Maymaewa Anastasia, Moskalenko Elizaveta. 2021.</p>
        </div>
</div>
<br>
</body>
</html>