<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" >
<head>
    <title> My books </title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<nav th:replace="books.html :: nav"></nav>
<div th:replace="books.html :: menu"> </div>

<br><br><br><br>
<div class="text-center p-3">
    <h1>My books </h1>
</div>

<div th:fragment="booksList" class="w3-container" style="margin-left:15%">
    <div  th:if="${not #lists.isEmpty(books)}">
        <div class="parent  w3-row w3-padding-64 w3-center" style="width: 100%"
             th:each="book : ${books}">

            <div class="col w3-sand w3-container" style="width: 60%">
                <h1 th:text="${book.getName()}" class="w3-brown w3-center" style="width: 100%"></h1>

                <p th:if="${book.available}"><span><b> This book is available </b></span>  </p>
                <p th:unless="${book.available}"><span><b>This book is already in the deal</b></span> </p>

                <p><b> Author:</b> <span th:text="${book.getAuthor()}"> </span>  </p>
                <p><b> Condition: </b><span th:text="${book.getCondition()}"> </span> </p>
                <p th:if="${!book.getReturnDate().isEmpty()}"><b> Date to return:</b>  <span th:text="${book.getReturnDate()}"> </span> </p>
                <p th:if="${book.getReturnDate().isEmpty()}"><b> This books is for exchange forever.</b> </p>
                <p th:if="${book.getDescription != null && !book.getDescription.isEmpty()}"> <b> Description:</b> <span th:text="${book.getDescription()}"> </span>  </p>


                <div class="w3-container">
                    <a th:if="${book.available}" class="w3-button w3-pale-green" th:href="@{/books/edit/{id}(id=${book.getId()})}">Edit book</a>
                    <button class="w3-button w3-pale-red" th:onclick="|document.getElementById(${book.id}).style.display='block'|"> Delete this book </button>
                    <div th:id="${book.id}" class="w3-modal">
                        <div class="w3-modal-content w3-card-4">
                            <header class="w3-container w3-teal">
                    <span th:onclick="|document.getElementById(${book.id}).style.display='none'|"
                          class="w3-button w3-display-topright">&times;</span>
                                <h2> Delete book <span th:text="${book.getName()}"> </span> </h2>
                            </header>
                            <p> Are you sure you want to delete this book? You won't be able to exchange it. </p>
                            <a class="w3-button w3-pale-red" th:href="@{/books/delete/{id}(id=${book.getId()})}"> Delete this book anyway</a>
                        </div>
                    </div>
                </div>



            </div>


            <div class="cover col w3-sand w3-container" style="width: 40%">
                <img th:id="'cover' + ${book.id}" th:src="@{${book.getPhotosImagePath()}}" style="height:70%; width: 70%"/>

                <script th:inline="javascript">

                    function setDefault(h) {
                        $('#desc' + h).text("No description from Google books");
                        if ([[${book.getPhotosImagePath()}]] == null)
                            $('#cover' + h).attr("src", 'https://png.pngtree.com/element_our/20190529/ourlarge/pngtree-learning-book-textbook-illustration-image_1216468.jpg');
                    }

                    function handleResponse(response) {
                        let flagSrc = false;
                        let h = [[${book.id}]]
                        let checkImage = [[${book.getPhotosImagePath()}]]
                        if (checkImage != null)
                            flagSrc = true;
                        console.log(response.totalItems)


                        if (response.totalItems == 0) {
                            setDefault(h);
                            return;
                        }

                        for (let i = 0; i < response.items.length; i++) {
                            if (flagSrc == true)
                                return;
                            if (response.items[i].volumeInfo.imageLinks !== undefined && flagSrc == false) {
                                $('#cover' + h).attr("src", response.items[i].volumeInfo.imageLinks.thumbnail);
                                flagSrc = true;
                            }
                        }

                        if (!flagSrc)
                            setDefault(h);
                    }
                </script>


                <script  th:src="'https://www.googleapis.com/books/v1/volumes?q=' + ${book.getName} +  '+intitle:' +  ${book.getName} +
                '+author:' +  ${book.getAuthor()} + '&maxResults=5' + '&callback=handleResponse'" >
                </script>
            </div>

        </div>
    </div>

</div>


</body>
</html>