<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title> My profile </title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>

<nav th:replace="books.html :: nav"></nav>
<div th:replace="books.html :: menu"> </div>

<div class="w3-container" style="margin-left:15%">
    <h1 class="w3-center"> About Me <br></h1>
    <div class="w3-row w3-padding-64 w3-container">
        <div class="w3-col s4 w3-container">
            <img src="https://cdn3.iconfinder.com/data/icons/avatar-set-2/512/Avata_06-512.png"
                 class="w3-margin w3-circle" alt="Person" style="width: 80%">
        </div>
        <br><br>
        <div text-align="left"  class="w3-pale-green w3-col s6 w3-container w3-padding-large">
            <p> Name:  <span th:text="${user.getFirstname()}"> </span> </p>
            <p> Surname:  <span th:text="${user.getLastname()}"> </span> </p>
            <p th:if="${user.getBio() != null && !user.getBio().isEmpty()}"> Bio:  <span th:text="${user.getBio()}"> </span> </p>
            <p th:if="${user.getSocialMedia() != null && !user.getSocialMedia().isEmpty()}"> Social media:  <span th:text="${user.getSocialMedia()}"> </span> </p>
            <p> Email:  <span th:text="${user.getEmail()}"> </span> </p>
        </div>
        <a class="w3-button w3-khaki" th:href="@{/edit_person}">Edit profile</a>
    </div>
    <br>
</div>

<div style="margin-left:15%" class="w3-container">
    <h2 style="color: darkolivegreen; text-decoration: underline" onclick="document.getElementById('reviews').style.display='block'" class="w3-center "> View reviews on me </h2>
    <div id='reviews'  class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-brown">
        <span onclick="document.getElementById('reviews').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
                <h2> Reviews </h2>
            </header>
            <div th:if="${not #lists.isEmpty(reviews)}" th:each="review : ${reviews}" class="w3-center w3-container">
                <div text-align="left"  class="w3-sand w3-center w3-container w3-padding-large">
                    <p> Name:  <span th:text="${review.getWriter().getFullName()}"> </span> </p>
                    <p> Note:  <span th:text="${review.getNote()}"> </span> </p>
                </div>
                <br>
            </div>
            <div th:if="${#lists.isEmpty(reviews)}" class="w3-center w3-container">
                <div text-align="left"  class="w3-sand w3-center w3-container w3-padding-large">
                    <p> There is no reviews on this user. </p>
                </div>
            </div>
    </div>
</div>
</div>

</body>
</html>
