<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title> Requests to me </title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>

<nav th:replace="books.html :: nav"></nav>
<div th:replace="books.html :: menu"> </div>
<br><br><br>
<div class="text-center p-3">
    <h1> Requests to me</h1>
</div>

<div th:fragment="booksList" class="w3-container" style="margin-left:15%">
    <div th:if="${not #lists.isEmpty(reqs)}">
        <div class="w3-row w3-padding-64 w3-center" th:each="req : ${reqs}">
            <div>
            <div class="w3-twothird w3-sand w3-container">

                <h1 class="w3-text-brown"> <a style="text-decoration: underline" th:href="@{/user_page/{id}(id = ${req.getPersonInitiator().getId()})}" th:text="${req.getPersonInitiator().getFullName() }"> </a>
                    wants to exchange on <span th:text=" ${req.getRespondentsBook().getName()}"></span> </h1>


                <p> Status: <span th:text="${req.getStatus()}"> </span> </p>
                <p th:if="${req.isBookDelivery() and !req.isRejected()}" class="w3-text-brown"> Needs delivery to <span th:text="${req.getPersonInitiator().getCity() }"> </span></p>
                <a th:if="${req.isWait()}" class="w3-button w3-pale-green"
                   th:href="@{/requests_to_me/books/user/{userId}/{reqId}(userId=${req.getPersonInitiator().getId()}, reqId=${req.getId()})}"> Look at books of user </a>
                <a th:if="${req.isWait()}" class="w3-button w3-pale-red" th:href="@{/requests_to_me/reject/{id}(id=${req.getId()})}"> Reject. I don't wanna exchange. </a>
            </div>
                <div class="w3-sand">
                    <div class="w3-sand w3-center">
                        <img th:id="'cover' + ${req.respondentsBook.id}" th:src="@{${req.respondentsBook.getPhotosImagePath()}}" style="height:250px; width: 200px"/>

                        <script th:inline="javascript">

                            function setDefault(h) {
                                $('#desc' + h).text("No description from Google books");
                                if ([[${req.respondentsBook.getPhotosImagePath()}]] == null)
                                    $('#cover' + h).attr("src", 'https://png.pngtree.com/element_our/20190529/ourlarge/pngtree-learning-book-textbook-illustration-image_1216468.jpg');
                            }

                            function handleResponse(response) {
                                let flagSrc = false;
                                let h = [[${req.respondentsBook.id}]]
                                let checkImage = [[${req.respondentsBook.getPhotosImagePath()}]]
                                if (checkImage != null)
                                    flagSrc = true;
                                console.log(response.totalItems)


                                if (response.totalItems == 0) {
                                    setDefault(h);
                                    return;
                                }

                                for (let i = 0; i < response.items.length; i++) {
                                    if (flagSrc == true)
                                        return;
                                    if (response.items[i].volumeInfo.imageLinks !== undefined && flagSrc == false) {
                                        $('#cover' + h).attr("src", response.items[i].volumeInfo.imageLinks.thumbnail);
                                        flagSrc = true;
                                    }
                                }

                                if (!flagSrc)
                                    setDefault(h);
                            }
                        </script>


                        <script  th:src="'https://www.googleapis.com/books/v1/volumes?q=' + ${req.respondentsBook.getName} +  '+intitle:' +  ${req.respondentsBook.getName} +
                '+author:' +  ${req.respondentsBook.getAuthor()} + '&maxResults=5' + '&callback=handleResponse'" >
                        </script>
                    </div>

                </div>
                </div>
        </div>
    </div>
</div>

</body>
</html>