<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>User's books</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<nav th:replace="books.html :: nav"></nav>
<div th:replace="books.html :: menu"> </div>

<div class="w3-container" style="margin-left:15%">
   <br> <br>
    <div class="w3-row w3-padding-64 w3-container">
        <div class="w3-col s4 w3-container">
            <img src="https://cdn3.iconfinder.com/data/icons/avatar-set-2/512/Avata_06-512.png"
                 class="w3-margin w3-circle" alt="Person" style="width: 80%">
        </div>
        <br><br>
        <div text-align="left"  class="w3-pale-green w3-col s6 w3-container w3-padding-large">
            <p> Name:  <span th:text="${user.getFirstname()}"> </span> </p>
            <p> Surname:  <span th:text="${user.getLastname()}"> </span> </p>
            <p th:if="${user.getBio()!= null && !user.getBio().isEmpty()}"> Bio:  <span th:text="${user.getBio()}"> </span> </p>
            <p th:if="${user.getSocialMedia() != null && !user.getSocialMedia().isEmpty()}"> Social media:  <span th:text="${user.getSocialMedia()}"> </span> </p>
            <p> Email:  <span th:text="${user.getEmail()}"> </span> </p>
        </div>

    </div>
    <br>
</div>
</div>

<div style="margin-left:15%" class="w3-container">
    <h2 style="color: darkolivegreen; text-decoration: underline" onclick="document.getElementById('reviews').style.display='block'" class="w3-center "> View reviews on this user </h2>
    <div id='reviews'  class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-brown">
        <span onclick="document.getElementById('reviews').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
                <h2> Reviews </h2>
            </header>
            <div th:if="${not #lists.isEmpty(reviews)}" th:each="review : ${reviews}" class="w3-center w3-container">
                <div text-align="left"  class="w3-sand w3-center w3-container w3-padding-large">
                    <p> Name:  <span th:text="${review.getWriter().getFullName()}"> </span> </p>
                    <p> Note:  <span th:text="${review.getNote()}"> </span> </p>
                </div>
                <br>
            </div>
            <div th:if="${#lists.isEmpty(reviews)}" class="w3-center w3-container">
                <div text-align="left"  class="w3-sand w3-center w3-container w3-padding-large">
                    <p> There is no reviews on this user. </p>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="w3-container w3-center" style="margin-left:15%">
        <div  th:if="${not #lists.isEmpty(books)}">
            <div class="parent  w3-row w3-padding-64 w3-center" style="width: 100%"
                 th:each="book : ${books}" th:if="${book.isAvailable()}">

                <div class="col w3-sand w3-container" style="width: 60%">
                    <h1 th:text="${book.getName()}" class="w3-brown w3-center" style="width: 100%"></h1>
                    <div class="w3-container w3-padding-16">
                        <h4 th:onclick="|document.getElementById(${book.id}).style.display='block'|"
                            class="w3-sand w3-center" style="cursor: pointer"> Read description from Google Books </h4>
                        <div th:id="${book.id}" class="w3-modal">
                            <div class="w3-modal-content">
                                <header class="w3-container w3-pale-green">
        <span th:onclick="|document.getElementById(${book.id}).style.display='none'|"
              class="w3-button w3-display-topright">&times;</span>
                                    <h2 th:text="${book.getName() + ': description from Google Books' }" ></h2>
                                </header>
                                <div class="w3-container">
                                    <br>
                                    <p th:id="'desc' + ${book.id}"> </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p> <b>Author:</b> <span th:text="${book.getAuthor()}"> </span> </p>
                    <p> <b>Condition:</b> <span th:text="${book.getCondition()}"> </span> </p>
                    <p th:if="${!book.getReturnDate().isEmpty()}"> <b>Date to return: </b> <span th:text="${book.getReturnDate()}"> </span> </p>
                    <p th:if="${book.getReturnDate().isEmpty()}"> <b>Owner wants to exchange this book forever.</b> </p>
                    <p><b> Description:</b> <span th:text="${book.getDescription()}"> </span>  </p>
                    <a th:if="${book.available}" class="w3-button w3-pale-green" th:href="@{/requests_to_me/response/{reqId}/{bookId}(reqId=${req.getId()},bookId=${book.getId()})}"> Select this book to exchange! </a>
                </div>


                <div class="cover col w3-sand w3-container" style="width: 40%">
                    <img th:id="'cover' + ${book.id}" th:src="@{${book.getPhotosImagePath()}}" style="height:80%; width: 80%"/>

                    <script th:inline="javascript">

                        function setDefault(h) {
                            $('#desc' + h).text("No description from Google books");
                            if ([[${book.getPhotosImagePath()}]] == null)
                                $('#cover' + h).attr("src", 'https://png.pngtree.com/element_our/20190529/ourlarge/pngtree-learning-book-textbook-illustration-image_1216468.jpg');
                        }

                        function handleResponse(response) {
                            let flagSrc = false;
                            let flagDesc = false;
                            let h = [[${book.id}]]
                            let checkImage = [[${book.getPhotosImagePath()}]]
                            if (checkImage != null)
                                flagSrc = true;
                            console.log(response.totalItems)
                            //  $('#cover' + h).height = 500;


                            if (response.totalItems == 0) {
                                setDefault(h);
                                return;
                            }

                            for (let i = 0; i < response.items.length; i++) {
                                if (flagDesc == true && flagSrc == true)
                                    return;
                                if (response.items[i].volumeInfo.imageLinks !== undefined && flagSrc == false) {
                                    $('#cover' + h).attr("src", response.items[i].volumeInfo.imageLinks.thumbnail);
                                    flagSrc = true;
                                }
                                if (response.items[i].volumeInfo.description !== undefined && flagDesc == false) {
                                    $('#desc' + h).text(response.items[i].volumeInfo.description);
                                    flagDesc = true;
                                }
                            }

                            if (!flagDesc || !flagSrc)
                                setDefault(h);
                        }
                    </script>

                    <script  th:src="'https://www.googleapis.com/books/v1/volumes?q=' +
        ${book.getName} +  '+intitle:' +  ${book.getName} +
        '+author:' +  ${book.getAuthor()} + '&maxResults=5' + '&callback=handleResponse'" >
                    </script>


                </div>

            </div>
        </div>
</div>
</body>
</html>