.btn {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer
}

#booksnav {
    background-color: darkseagreen;
    position: fixed;
    width: 100%;
    z-index: 999;
}

body {
    font-size: 16px;
    background-size: 100%;
}

ul li::marker {
    color: darkolivegreen;
    font-size: 1.5em;
}
p {
    text-indent: 20px; /* Отступ первой строки в пикселах */
    font-size: large;
    line-height: 1.5;
}

.btn-google {
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px #ddd
}

form.example input[type=text] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid grey;
    float: left;
    width: 240px;
    background: #f1f1f1;
    height: 40px;
}

form.example button {
    float: left;
    width: 40px;
    padding: 10px;
    background: url("https://image.freepik.com/free-photo/grass-magnifier-symbol-shape_172429-709.jpg")
    center no-repeat;
    background-size: 70% 70%;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    height: 40px;
}

form.example button:hover {
    lighting-color: darkseagreen;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}


.parent {
    display: table;
}
.col {
    display: table-cell;
}

.statusP span{
    font-size: x-large;
}